.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  gap: 15px;
}

.input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  border: none;
  background-color: #8ee4af;
  color: #edf5e1;
}

.input::placeholder {
  color: #edf5e1;
}

.btn {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 0;
  background-color: #379683;
  color: #edf5e1;
}

.btn:active,
.btn:hover {
  background-color: #05386b;
}
