* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5cdb95;
  color: #edf5e1;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
}

a {
  color: #edf5e1;
  text-decoration: none;
}
a:hover,
a:active {
  color: #05386b;
}

.authBox {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

.authTitle {
  margin-bottom: 20px;
}
